{{ attach_library('drupal_monsters/monster') }}
<div class="monster-container">
  <p class="name">
  {% if nickname is empty %}
    {{ name }}
  {% else %}
    {{ nickname }} ({{ name }})
  {% endif %}
  </p>
  <p class="lvl-exp-type">
    LVL: {{ level }} EXP: {{ experience }} TYPE: {{ type|capitalize }}
  </p>
  <p class="stats">
    ATK: {{ attack }} DEF: {{ defense }} STA: {{ stamina }}
  <p>
  <div class="moves-container">
    <h2>Attacks</h2>
    {% for move in moves %}
      <p class="move">
        {{ move.name }}
        PWR: {{ move.power }}<br>
        TYPE: {{ move.type }}
        MULT:{{ move.damage_mult }}
      </p>
    {% endfor %}
  </div>
</div>
